@use "./utils/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

h2{
    @include mixins.padding20;
    margin: 0px 0px 0px 0px;
}
