@use "../utils/variables.scss";

/* Le footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: variables.$black-light;
    color:white;
    margin-bottom: 0px;
/* Le logo du footer */
    h4{
        font-family: Shrikhand;
        font-size: map-get($map: variables.$font-size, $key: heading);
        margin: 0px;
        padding: 20px 20px 20px 20px;
    }
/* Les liens du footer */
    ul {
        width: 100%;
        justify-content: space-around;
        display: flex;
        padding: 20px 20px 20px 20px;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
    li {
        @media (max-width: 767px) {
            padding-bottom: 20px;
        }
    }
    a {
        color:white;
    }
}

