@use "../utils/variables.scss";
@use "../utils/mixins.scss";
@use "../utils/animation.scss";

/* Loader */
.loader{
    position:fixed;
    background-color: white;
    display: grid;
    place-items: center;
    height:100vh;
    z-index: 1;
    inset: 0;
    opacity: 0.9;
    transform-origin: top;
    color: variables.$color-primaire;
    visibility: visible;
    animation: disappear 1s 3s forwards;  
}

/* Header */
header{
    font-family: "Shrikhand";
    text-align: center;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    position: relative;
    @include mixins.box-shadow;
    h1{
        margin: 0px;
    }
}


