@use "../utils/variables.scss";
@use "../utils/mixins.scss";

/* Section de reservation */
.reservation{
    text-align: center;
    background-color: variables.$grey-light;
    /* Boutton explorer */
    button{
        @include mixins.main-button;
        width: 25%;
        @media (max-width: 992px) {
            width: 35%;
            }
        @media (max-width: 767px) {
            width: 50%;
            }
    }
}