@use "../utils/variables.scss";
@use "../utils/mixins.scss";

/* Section restaurants */
.restaurant{
    text-align: center;
    background-color: variables.$grey-mild;
    padding: 20px 20px 20px 20px;
    &__menus{
       display: grid;
       grid-template-columns: 1fr 1fr; 
       gap: 2rem;
       min-width: 20%;
       @include mixins.padding20;
       @media (max-width: 992px) {
        grid-template-columns: auto;
    }
    }
    /* Boutton décoratif Nouveau */
    .new{
        position: relative;
    }   
    .new::before {
        content:"Nouveau";
        position: absolute;
        display: grid;
        place-items: center;
        background-color: variables.$color-tertiaire;
        color: darken( variables.$color-tertiaire, 40%);
        border-radius: .5rem;
        height:2.5rem;
        width: 6rem;
        right: 2rem;
        top: 2rem;
        font-weight: bold;  
    }   
}

/* Les card des restaurants */
.card{
    @include mixins.box-shadow;
    border-radius: 2rem;
    text-align: left;
    &__image{
        background-size: cover;
        height: 15rem;
        border-radius: 2rem 2rem 0rem 0rem;
        @for $i from 1 through 4{
        &--image#{$i} {
            background-image: url(images/restaurants/restaurant-#{$i}.jpg);
            }
        }
    }
    /* La description des card */
    &__description{
        position: relative;
        p{
            margin: 0px 0px 0px 0px;
            padding: 0rem 1rem 1rem 1rem;
        }
        /* Icone et animation du coeur */
        i{
            font-size: 2rem;
            position: absolute;
            right: 1.5rem;
            top: 33%;
        }
        .fa-solid{
            @include mixins.maingradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: all .3s ease-in-out;
            &:hover{
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
 }